

<%= form_for @user do |f| %>
  <h3>Chess Game Signup </h3>
  NAME: <%=f.text_field :name ,:class => 'field' %><br /><br />
  USER NAME: <%= f.text_field :user_name ,:class => 'field'%><br /> <br/>
  PASSWORD:  <%= f.password_field :password_field ,:class => 'field'%><br /> <br />
  RE-PASSWORD:  <%= f.password_field :password_confirmation ,:class => 'field'%><br /> <br />
  IMAGE:  <%= f.text_field :user_name ,:class => 'field'%><br /> <br/>
  <%= f.submit 'CREATE USER' ,:class => 'button' %>
<% end %>

	<% unless @user.errors.empty? %>
       <p>Your comment could not be saved because:</p>
       <ul>
          <% @user.errors.each do |msg| %>
            <li><%= msg %></li>
          <%  end %>
       </ul>
    <% end %>


