 
<script>

//here assign the piece_postion value of current move

var currentPosition = <%= @boards.piece_position.html_safe %>;
var playerPiece= '<%= @boards.current_player %>';
var gameHistory = [];

</script>
<script data-turbolinks-track="true" src="/assets/chess.js"></script>
<table id="board" class=" col-xs-7 "></table>	
<div id="hidForm">
<h4><u>BOARD INFORMATION</u></h4>
BOARD NAME:  <%= @boards.board_name %><br>
YOUR COLOR: <% if cookies[@boards.id] %>
				<span style="color : green"> White </span><br> 
				<% else %>
				<span style ="color :red"> Black </span><br>
			  <%end %>
PLAYER TO MOVE: <% if @boards.current_player == "b" %>
				<span style="color : green"> White </span><br>
				<% else %>
				<span style ="color :red"> Black </span>
			  <%end %>
			  
<%= form_for @boards do |f| %>
  <%= f.text_area :piece_position%>
   <%= f.text_area :current_player%>
  <%= f.submit "Submit" %>
 <% end %>


  
